:host{
    .add{
       font-size: 1rem; 
       text-align: center;
       position: relative;
       top: 10rem;
       left: 20rem;
    }

    .addB{
        font-size: 1rem; 
        text-align: center;
        position: relative;
        top: 160px;
        left:320px;
        
     }

     
      .title{
          font-size: 20px;
          font-family: cursive;
      }
  
}